apiVersion: v1
kind: Service
metadata:
  name: {{ include "better-stack-collector.fullname" . }}
  labels:
    {{- include "better-stack-collector.labels" . | nindent 4 }}
    app.kubernetes.io/component: better-stack-collector
